<!-- 
-->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Peat's</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="icon" type="image/x-icon" href="static/fav.png">
  </head>

  <body >
  <!-- -->

  <!-- peat's branding  -->
    <header> 
      <a href="/" >Peat's</a>
    </header>

    <div id="feedback">
      <form>
        <hr>
        <input name="concerns" type="text" placeholder="Enter your doubts..." autofocus>
        <br>
        <button type="submit"> send </button>
        <br>
      </form>

    </div>

  </body>
  <script src=""></script>
</html>

