<!-- 
-->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Peat's</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="icon" type="image/x-icon" href="static/fav.png">
  </head>

  <body class="sign">
  <!-- -->

  <!-- peat's branding  -->
    <header> 
      <a href="/" >Peat's</a>
    </header>

    <div id="detail">
      <form>
        <br>
        <label>Email : </label>
        <input name="email" type="email" placeholder="john11@student.mes.ac.in" autofocus>
        <br>
        <label>Password : </label>
        <input name="pass" type="password" placeholder="********" >
        <br>
        <button type="submit"> confirm </button>
      </form>
      <nav><a href="#">sign up</a><nav>
    </div>

  </body>
  <script src=""></script>
</html>

