body {
  font-family: Arial Helvetica monaco;
  margin:20px;
  background-color:black;
  color:white;
}

.sign {
  font-size:28px;
  font-family: Arial Helvetica monaco;
  margin:20px;
  background-color:black;
  color:white;
  display:flex;
  align-items:center;
  justify-content: space-around;
  flex-wrap: wrap;

}

.sign header a {
  color:red;
  text-decoration:none;
  font-family:cursive;
  font-size:100px;
  animation-name:peats;
  animation-duration:8s;
  animation-iteration-count:infinite;
  text-shadow:10px 0px 15px currentcolor;
  border-radius: 50px;
}

.sign form{
  padding: 20px;
  color:red;
  animation-name:peats;
  animation-duration:8s;
  animation-delay:4s;
  animation-iteration-count:infinite;
  box-shadow:10px 0px 15px currentcolor;
  border-radius: 50px;
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction:column;

}

.sign form label{
  color:ghostwhite;
  font-size:35px;
  text-shadow:-2px -2px 2px brown , 2px 2px 2px cyan ;
  text-align:center;
  font-family:monaco;
}
.sign form input{
  background-color:brown;
  font-size:25px;
}

.sign form input:hover{
  background-color:magenta;
}

.sign form button{
  height:45px;
  background-color:inherit;
  color:green;
  font-size:35px;
  text-align:center;
  font-family:monaco;
  box-shadow:0px 10px 15px currentcolor;
}
.sign form button:hover{
  color:cyan;
}

header {
  margin-top:1em;
  margin-left:1em;
}

header a {
  color:red;
  text-decoration:none;
  font-family:cursive;
  font-size:50px;
  animation-name:peats;
  animation-duration:3s;
  animation-iteration-count:infinite;
  box-shadow:10px 0px 15px currentcolor;
  border-radius: 50px;
}

@keyframes peats{
  0%  {color:red;}
  50% {color:blue;box-shadow:-10px 0px 15px currentcolor;}
  100%{color:red;}
}


nav {
  text-align:right;
  margin-top:3em;
  margin-right:2em;
  margin: 10px
  height:35px;
}

nav a{
  font-size:16px;
  font-family:monaco;
  padding-right:10px;
  padding-left:10px;
  margin-right: 10px;
  box-shadow:0px 10px 14px currentcolor;
  }

nav a:hover{
 color: magenta; 
}

#content {
  border: 2px solid #111;
}  

#content hr{
  border: 1px solid #500;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2em;
  box-shadow:0px 10px 14px currentcolor;
}

#content h1{
  text-shadow:-2px -2px 2px brown , 2px 2px 2px cyan ;
  text-align:center;
  font-family:monaco;
  margin:10px;
}

#hot {
  margin:10px;
}

#hot span a img {
  width=500px; height=600px;
}

#menu details summary {
  text-align:center;
  color:blue;
  font-size:38px;
  text-decoration:none;
}

#menu details summary:hover {
  color:red;
}

#menu details {
  text-decoration:none;
}

table{
  font-size:28px;
  margin:20px;
  width:80%;
  border-collapse: collapse;
}

th{
  color:green;
}

td {
  text-align: center;
}

td button {
  background-color: inherit;
  font-size: inherit;
  color: inherit;
  box-shadow: 0px 0px 11px currentcolor;
  text-align: center;
}
