body {
  font-family: Arial Helvetica monaco;
  margin:20px;
  background-color:black;
  color:white;
}

header {
  margin-top:-20px;
  margin-bottom:-20px;
}

header a{
  text-decoration:none;
  font-family:cursive;
  font-size:50px;
}

nav {
  text-align:right;
  margin:10px;
  height:35px;
}

nav a{
  font-size:16px;
  font-family:monaco;
  padding-right:10px;
  padding-left:10px;
  margin-right: 10px;
  }

#content {
  border: 2px solid #111;
}  

#content hr{
  border: 1px solid #500;
  margin-left: 10px;
  margin-right: 10px;
}

#content h1{
  font-family:monaco;
  margin:10px;
}

#content #hot, .menu{
  text-align:left;
  margin: 20px;
  font-size: 36px;
}

#hot {
  margin:10px;
}

#hot span a img {
  width=500px; height=600px;
}


.menu summary {
  text-decoration:none;
  border: 0.5px solid whitesmoke;
  width: -webkit-fit-content;
}

.menu details {
  text-decoration:none;
  border: 0.5px solid whitesmoke;
}

table{
  margin:20px;
  width:80%;
  border-collapse: collapse;
}

table, tr, th{
  border:2px solid grey;
}
td {
  text-align: center;
}

