    <style>

      body {
        color:gray;
        font-family:times new roman;
        margin:20px;
      }

      header {
        background-image:linear-gradient(to left, white, brown, black); 
      }

      header a{
        color: white;
        background-color:brown;
        text-decoration:none;
        font-family:courier;
        font-size:80px;
        border: 5px solid black;
        margin: -10px;
      }

      #hot {
        margin:10px;
      }

      #hot span button {
        font-family: cursive;
        font-size: 25px;
        color:white;
        background-color:black;
        border-radius: 10px;
        height: 85px;
        width: 85px;
        margin: 10px;
      }

      .menu details {
        color:brown;
      }

      table{
        margin:20px;
        width:80%;
        color:black;
        border-collapse: collapse;
      }

      table, tr, th{
        border:2px solid grey;
      }
      td {
        color:white;
        background-color:grey;
      }

